<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/verify}" th:object="${user}" method="GET">
    username: <input type="text" name="username" th:field="*{username}"/><br>
    password: <input type="text" name="password" th:field="*{password}"/><br>
    <button name="login" type="submit" value="0">Login</button>
    <button name="register" type="submit" value="0">Register</button>
</form>

</body>
</html>